/* styles.css */


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #727272;
}


/* Navbar */


nav {
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #727272;
    transition: top 0.3s;
    z-index: 1000;
    /* Increase the z-index value */
    justify-content: space-between;
}


.logo img {
    width: 150px;
    /* Set the width of the logo */
    height: auto;
    /* Maintain aspect ratio */
}

.nav-links {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    /* Allow the menu to grow and take up remaining space */
    display: flex;
    justify-content: center;
    /* Center the menu horizontally */
    align-items: center;
    margin-left: auto;
    /* Push nav links to the left as much as possible */
}




.arrow {
    font-family: "Poppins", sans-serif;
    font-size: 0.5em;
    /* Adjust the size of the arrow */
    margin-left: 5px;
    /* Add some space between the text and the arrow */
}

.nav-links li {
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
}

.nav-links li a {
    color: #727272;
    ;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #eccf12;

}

.dropdown {
    position: relative;

}



.dropdown-content {
    opacity: 0;
    /* Initially hide the dropdown content */
    visibility: hidden;
    /* Hide the dropdown content */
    position: absolute;
    background-color: #011D38;
    min-width: 150px;
    z-index: 2000;
    /* Ensure the dropdown menu appears above the navbar */
    border-radius: 10px;
    /* Add rounded corners */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Add transition for opacity and visibility */
    top: 100%;
    /* Position the dropdown below the toggle */
    left: 0;
    /* Align the dropdown with the left edge of the toggle */
}

.dropdown-content a {
    color: #f0f0f0 !important;
    padding: 12px 16px;
    /* Add padding to the links */
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    /* Show the dropdown content on hover */
    visibility: visible;
    /* Show the dropdown content on hover */
}


.dropdown-content a:hover {
    color: #eccf12 !important;
    /* Set color to yellow on hover */
}


.button-anchor-nav {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    margin: 0 10px;
    /* Add margin for spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    /* Add transition */
}

.button-anchor-nav:hover {
    background-color: #eccf12;
    border-color: #eccf12;
    color: #001D38;
}

/* hamburger menu */

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-self: flex-end;
    /* Align the hamburger menu to the right */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    ;
    margin: 3px 0;
}

/* Modules */

.content {
    margin: 0 auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    display: block;
    margin-top: 80px;

    font-size: 32px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    color: #001D38;
}

.spacing {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px !important;
}


.Header {
    font-size: 32px;
}


.grid-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* Position relative to the content */
    top: 20px;
    /* Adjust as needed */
}


/* Button transition effect */

.button-anchor {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-style: bold;
    color: white;
    padding: 13px 23px;
    text-decoration: none;
    background-color: #011D38;
    border: none;
    border-radius: 50px;
    margin: 0 10px;
    /* Add margin for spacing */
    display: inline-block;
    /* Ensure the button takes up only the necessary space */
    transition: transform 0.3s, background-color 0.3s;
    /* Add transition for transform and background color */
}

.button-anchor:hover {
    background-color: #eccf12;
    color: #001D38;
    transform: scale(1.1);
    /* Scale up the button on hover */
}

.button-anchor:not(:hover) {
    transform: scale(1);
    /* Reset the scale for non-hovered buttons */
}


.image-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: -150px auto 0; /* Adjust the margin-top to move the image closer to the header */
    text-align: center;
    /* Center the image horizontally */
    z-index: -1;
    /* Move the image behind other elements */
}


.img-size {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.Header {
    text-align: center;
}


p {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 28px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 26px;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
}


.hr-dv {
    flex: 0 0 80%;
    /* Set the flex basis to 80% */
    max-width: 80%;
    /* Set the max-width to 80% */
    margin: 0 auto;
    /* Center the element */
    padding-top: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    /* Make sure the hr spans the entire width of its container */
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.black {
    color: black;
}

.column {
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    min-height: 120px;
    height: 100%;
    padding: 20px;
    background-color: white;
}



.icon-svg {
    width: 55px;
    height: 55px;
    background-color: #ffd802;
    line-height: 95px;
    padding: 20px;
    border-radius: 50%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.hr-pb2 {
    padding-top: 150px;
    padding-bottom: 100px;
}

.flexbox-2column {
    display: flex;
    /* Use flexbox */
}

.column1 {
    flex: 1;
    /* Take up remaining space */
}

.column2 {
    flex: 2;
    margin-left: 50px;
    padding-left: 50px;
   
}

.h2-color {
    font-family: "Poppins", sans-serif;
    font-size: 30px !important;
    color: #001D38;
    text-align: left;
}

.left {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 70px;
   
}

.img-size1 {
    width: 550px;
    height:auto;
    vertical-align: middle;
    border-style: none;
}

.case_bg_1 {
    background-image: url(./images/study_banner.png);
    background-size: 100% 100%; /* Stretch the background image to cover the entire container */
    background-position: center; /* Center the background image */
}

.content-base-bg {
    margin: 0 auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}




.h2-service {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: white;
    padding-top: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
   
}


.button-anchor-service {
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 250px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    margin: 80px auto;
    /* Add margin for spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
    /* Add transition */
}

.button-anchor-service:hover {
    background-color: #eccf12;
    border-color: #eccf12;
    color: #001D38;
    transform: scale(1.1);
    /* Scale up the button on hover */
}

i.fas {
    font-size: 14px;
    color:#001D38;
    font-family: 'Font Awesome 5 Free'; /* Specify Font Awesome font family */
    padding-right: 26px;
}

.accordion-column {
    display:flex;
    margin-top: 50px;
}

.heading-why {
    display:block;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.heading-why h2 {
    margin: 0 auto;
    text-align: left;
}
.accordion-item {
    border-bottom: 1px solid;
    border-color:#E8E8E8;
    margin-bottom: 34px;
    margin-right: 20px;
    padding-right: 20px;
}

.accordion-header {
    background-color: #ffffff;
    color:#001D38;
    padding: 10px;
    cursor: pointer;
}

.accordion-header {
    text-align: left;
    width: 400px; /* Set the width to 100% */
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    text-align: left;
    color:#011D38;
    width: 400px; /* Set the width to 100% */
    padding: 10px;
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}



.accordion-item.active .accordion-header .arrow {
    transform: rotate(180deg);
}

.accordion-item.active .accordion-content {
    display: block; /* Show the content when active */
    max-height: 1000px;
    width: 400px; /* Set max-height to a large value to allow smooth expansion */
}

.accordion-item.active .arrow {
    transform: rotate(90deg);
}


.smaller {
    flex-basis: 40%; /* Adjust the width of the smaller column */
}

.smaller h2 {
    font-size: 30px;
    color:#000000;
}

.larger {
    flex-basis: 60%; /* Adjust the width of the larger column */
}



.image-choose {
    width: 100%;
    height: auto;
    margin: 0 auto;
}



.bg-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.trust-container-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}

.trust-img {
    width: 200px;
    margin: 10px;
    padding: 20px;
}

.trust h2 {
    margin: 40px 0;
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 30px !important;
}

.content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* footer */

.footer {
    width: 100%;
    height: auto;
    background-color: #001D38;
    margin-top: 105px;
    margin-bottom: 70px;
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}

.lets_projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    align-items: center; /* Align items vertically in the center of the grid */
}

.lets_projects a {
    color:#eccf12;
    text-decoration: none;
}


a.footer-big {
    font-size: 30px !important;
    font-weight: 300 !important;
    color: #fff;
    display: block;


}
.slogan {
    padding-top: 0px;
}

.phone_number {
    padding-top: 30px;
}

.phone_number a {
    color: #C7C7C7;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}


.phone_number a:hover {
    color:#eccf12;
    font-size: 15px;
    font-weight: 300;
}

.lets_projects h3 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color:#fff;
}



@media screen and (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .hamburger-menu {
        display: flex;
    }

    .button-anchor-nav {
        display: none;
    }

    .three-columns {
        display: block;

    }
    .flexbox-2column {
        flex-wrap: wrap; /* Revert to nowrap for larger screens */
    }

    .column1 {
        flex-basis: 50%;
        margin: 0 auto;
        align-items: center;
    }

    .column2 {
        flex-basis: 50%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .img-size1 {
        margin: 0 auto;
        align-items: center;
        vertical-align: middle;
        width: 100%;
    }

    .column {
        margin-bottom: 20px;
    }

    .content {
        margin-left: 30px;
        margin-right: 30px;
    }
}


@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .hamburger-menu {
        display: flex;
    }

    .button-anchor-nav {
        display: none;
    }

    
    .h2-color {
        text-align: center;
        margin: 0 auto;
    }
    .img-size {
        width: 90%;
        height:auto;
        
    }
    
    .left {
        text-align: center;
    
        margin: 0 auto;
        margin-top: 15px;
    }

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: -80px auto 0; /* Adjust the margin-top to move the image closer to the header */
    text-align: center;
    /* Center the image horizontally */
    z-index: -1;
    /* Move the image behind other elements */
}
.h2-service {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
   
}


    .three-columns {
        display: block;

    }

    .column {
        margin-bottom: 20px;
    }

    .content {
        margin-left: 15px;
        margin-right: 15px;
    }

    .flexbox-2column {
        flex-wrap: wrap; /* Revert to nowrap for larger screens */
    }

    .column1 {
        flex-basis: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .column2 {
        flex-basis: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .accordion-column {
        display:block;
        margin-top: 20px;
    }
    .trust-container-row {
        display: block;
        margin: 0 auto;
        padding: 0;
   
    }
 }


